.card {
  min-height: 80px;
  border-radius: $border-radius-md;
  background-color: $color-divider;
  padding: $padding-md;
  height: fit-content;
  display: flex;
  flex: 1;
  align-items: center;
  gap: $margin-sm;
}

.phone-numbers {
  list-style: none;
  padding-left: $padding-lg;
  margin: 0;

  & li {
    width: fit-content;
    color: $color-primary;

    @include hover {
      text-decoration: underline;
    }
  }
}
