.wrapper {
  width: 33%;
  height: auto;
  border-radius: $border-radius-md;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @media screen and (max-width: 900px) {
    width: 100%;
    aspect-ratio: 2/1;
  }

  & img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.text-accent {
  color: $color-primary;
}
