.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $gap-sm;

  @include hover {
    filter: brightness(0.8);
  }
}

.arrow {
  width: 14px;
  height: 14px;
  transform: rotate(90deg);
  color: $color-text-secondary;
  transition: transform 0.3s ease;

  &.active {
    transform: rotate(-90deg);
  }
}
