html {
  scrollbar-width: thin;
  scrollbar-color: $color-primary $color-background;

  &::-webkit-scrollbar {
    box-sizing: border-box;
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: $color-background;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-primary;
    border-radius: 10px;
    border: 2px solid $color-background;
  }

  &:hover {
    scrollbar-color: $color-primary-alt $color-background;

    &::-webkit-scrollbar-thumb {
      background-color: $color-primary-alt;
    }
  }
}

body {
  font-weight: 400;
  line-height: 1.28;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: 0.2s;
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  cursor: pointer;
}
