$color-text-primary: #ffffff;
$color-text-secondary: #a8a8a8;
$color-primary: #fdd835;
$color-primary-alt: #fdc935;
$color-secondary: #74931d;
$color-chip-hit: #d800c2;
$color-warning: #ff0000;
$color-divider: #1c1c1e;
$color-footer: #0c0c0c;
$color-background: #000000;
