$color-text-primary: #ffffff;
$color-text-secondary: #a8a8a8;
$color-primary: #fdd835;
$color-primary-alt: #fdc935;
$color-secondary: #74931d;
$color-chip-hit: #d800c2;
$color-warning: #ff0000;
$color-divider: #1c1c1e;
$color-footer: #0c0c0c;
$color-background: #000000;

$gap-xs: 4px;
$gap-sm: 8px;
$gap-md: 16px;
$gap-lg: 24px;
$gap-xl: 36px;

$margin-xs: 4px;
$margin-sm: 8px;
$margin-md: 16px;
$margin-lg: 24px;
$margin-xl: 36px;

$padding-xs: 4px;
$padding-sm: 8px;
$padding-md: 16px;
$padding-lg: 24px;
$padding-xl: 36px;

$border-radius-xs: 4px;
$border-radius-sm: 8px;
$border-radius-md: 16px;
$border-radius-lg: 24px;
$border-radius-xl: 36px;
